@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-950 text-slate-100;
}

a {
  @apply text-sky-300 hover:text-sky-200 transition;
}

.prose-blog {
  @apply prose prose-invert max-w-none;
}
